*{

	margin: 0;
	padding: 0;
}


/************************* INDEX *********************************/

header#headerIndex{

	background-color: rgba(204, 92, 126, 0.541);
	display: flex;
	justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
}

header#headerIndex > nav > ul{
    list-style-type: none;
    overflow: hidden;
}

header#headerIndex > nav > ul{
	display: flex;
}

header#headerIndex > nav > ul > li > a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(241, 212, 219, 0.904);
    border-radius: 10px;
}

main > section#catsImg{

	display: flex;
    justify-content: center;
	margin-top: 25px;
	position: relative;
	animation: moveCats 5s infinite;
}
  
@keyframes moveCats {
	0%   {right: 0;}
	25%  {right: -150px;}
	75%  {right: 150px;}
	100%  {right: -0;}
}

main > div#foro{

	display: flex;
	justify-content: center;
	font-family: 'Libre Baskerville', serif;
	padding: 3% 25%;
}

div#foro > h1{

	text-align: center;
	font-size: 50px;
}

div#foro > article{

	background-color: rgba(224, 183, 193, 0.993);
    padding: 25px;
    margin-bottom: 15px;
	text-align: center;
}

div#foro > article > a{

    text-decoration: none;
    color: #111;
	font-size: 23px;
}

div#foro > div{

	justify-content: center;

}
div#foro > div > #cajaAporte{
	
    padding: 28px;
    border: inherit 15px black;
	text-align: center;
}

div#foro > div > #botonAporte{

    padding: 10px;
    background-color: rgb(204, 92, 126);
    border-radius: 10px;
	margin-top: 15px;
}

#botonAporte:hover{

	transform: scale(1.1, 1.1);
}

footer{

	background-color: rgba(204, 92, 126, 0.541);
}

footer > div{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	color: black;
}

footer > div > img{

	position: relative;
	top: 6px;
}

footer > div > a{

	text-decoration: none;
	color: black;
}


/************************* CONTACTO *********************************/

section#contactForm{

	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Libre Baskerville', serif;
}

aside#mapsUbi{

	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Libre Baskerville', serif;
	margin-top: 94px;

}

#mapsUbi{
	
	position: relative;
	animation: moveMapsUbi 2s;
}
  
@keyframes moveMapsUbi {
	0%   {top: -0;}
	25%  {top: 200px;}
	75%  {top: -200px;}
	100%  {top: 0;}
}

section#contactForm > form{

	display: flex;
	flex-direction: column;
	background-color: rgb(131, 241, 217);
	padding: 50px;
	border-radius: 10px;
	border: 2px solid black;
	margin-bottom: 55px;
	margin-top: 55px;
}

section#contactForm > form > h2{

	text-align: center;
	margin-bottom: 20px;
}

section#contactForm > form > input{

	padding: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
}

section#contactForm > form > #contactBottom{

	position: relative;
	left: 20%;
	width: 200px;
	background-color: rgb(204, 92, 126);
	border-radius: 10px;
}

#contactBottom:hover{
    
    transform: scale(1.1, 1.1);
}

#contactForm{
	
	position: relative;
	animation: moveFormContact 2s;
}
  
@keyframes moveFormContact {
	0%   {top: 0;}
	25%  {top: -200px;}
	75%  {top: 200px;}
	100%  {top: -0;}
}

#footerContact{		
	padding: 30px;
	background-color: rgba(204, 92, 126, 0.541);
}

#footerContact > section{
	display: flex;
	justify-content: center;
	align-items: center;
}

#footerContact > aside{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width:768px){
	main > #mapsUbi > h2 {

		font-size: 17px;
	}

	.iframe{
		width: 250px; 
		height: 250px; 
	}

	section#contactForm > form{

		width: 250px; 
		height: 550px;
		font-size: 14px;
	}

	section#contactForm > form > h2{
		font-size: 17px;		
	}

	section#contactForm > form > #contactBottom{
		padding: 2px;
		width: 100px;
		margin-top: 15px;
	}

}	

@media (max-width:992px) and (min-width: 768px) {
	main > #mapsUbi > h2 {

		font-size: 17px;
	}

	.iframe{
		width: 300px; 
		height: 300px; 
	}

	section#contactForm > form{

		width: 300px; 
		height: 550px;
		font-size: 14px;
	}

	section#contactForm > form > h2{
		font-size: 20px;		
	}

	section#contactForm > form > #contactBottom{
		width: 120px;
		margin-top: 15px;
	}

}	

@media (min-width: 1200px) {
	.iframe{
		width: 600px; 
		height: 450px; 
	}
}

/* /////////////////// MICHIS EN ADOPCIÓN ///////////////// */

#mainCatsAdopcion{
	display: flex;
	justify-content: center;
}

#catsAdoptionSec{

	justify-content: center;
	font-family: 'Libre Baskerville', serif;
    text-align: center;
	font-size: 18px;
	width: 800px;
}

#EnAdopcionH1{
	position: relative;
	top: 20px;
	
}

#parrafoInfoCats{
	margin-top: 25px;
	margin-bottom: 45px;
	border-bottom: solid 3px rgba(71, 66, 66, 0.637);
	
}

#catsAdoptionSec > article{

	margin-bottom: 35px;
}


#catsAdoptionSec > article > #refFormAdoption{
    text-decoration: none;
    color: #111;
    background-color: rgb(214, 55, 103);
	border-radius: 15px;
    padding: 10px;
	margin-top: 25px;
}

div article a:hover {
    
	font-size: 20px;
}

/* ////// FORMULARIO ADOPCIÓN only ///////////////// */

.mainFormulario__sectionForm{
    position: relative;    
    left: 450px;
    width: 500px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 35px;
	margin-bottom: 35px;
	font-family: 'Libre Baskerville', serif;
}

.mainFormulario__sectionForm > h1{

    position: relative;
    left: 90px;
    margin-bottom: 25px;
}

.mainFormulario__sectionForm > article{

    text-align: center;
}

.mainFormulario__sectionForm > article > input{

    padding-right: 150px;
}

#sectionForm{
	
	position: relative;
	animation: moveForm 2s;
}
  
@keyframes moveForm {
	0%   {right: 0;}
	25%  {right: -200px;}
	75%  {right: 200px;}
	100%  {right: -0;}
}

#botonForm{

    position: relative;
    left: 200px;
    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 20px;
    border-radius: 10px;
}

#botonForm:hover{
    
    transform: scale(1.1, 1.1);
}

#h1Adoption{

	margin-top: 15px;
	font-size: 35px;

}


/* ///////////////// REGISTRO ///////////////// */

.mainRegister__sectionFormRegister{
    position: relative;    
    left: 450px;
    width: 500px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    border: 1px solid black;
	font-family: 'Libre Baskerville', serif;
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.mainRegister__sectionFormRegister > h1{

    position: relative;
    margin-bottom: 10px;
	margin-top: 15px;
}

.mainRegister__sectionFormRegister > label{

    position: relative;
    
}

.mainRegister__sectionFormRegister > input{

    position: relative;
    padding-right: 100px;
    border-radius: 9px;
}


.mainRegister__sectionFormRegister > legend{

    position: relative;
    left: 20px;
    top: 15px;

}
.mainRegister__sectionFormRegister > select{

    position: relative;
    bottom: 3px;
    left: 60px;
}

.mainRegister__sectionFormRegister > a{

    text-decoration: none;
    color: #111;
}

#sectionFormRegister{
	
	position: relative;
	animation: moveRegister 2s;
}
  
@keyframes moveRegister {
	0%   {right: 0;}
	25%  {right: -200px;}
	75%  {right: 200px;}
	100%  {right: -0;}
}

#botonRegister{

    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 40px;
}

#botonRegister:hover {
    
    transform: scaleY(0.9);
}

.mainRegister__sectionFormRegister > label, input{

    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}




