*{
    margin: 0;
    padding: 0;
    
}

body{

    border: 1px solid black;
}

header{

    background-color: rgba(204, 92, 126, 0.541);
    padding-bottom: 2%;
    padding-top: 2%;
}

header img{

    position: relative;
    left: 6%;
    
}

.menu{

    display: Inline-block;
    position: relative;
    left: 50%;
}

.menu__ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    margin-bottom: 15%;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(241, 212, 219, 0.904);
    border-radius: 10px;
}

footer{

    background-color: rgba(204, 92, 126, 0.541);
    text-align: center;
    

}
footer p a{

    color: #111;
    
}
main{

    background-color: rgba(207, 180, 129, 0.233);
}

/* ////// MICHIS EN ADOPCIÓN only ///////////////// */

.EnAdopcionSection{

    width: 500px;
    height: 50px;
}

#mainMichis{
    
    width: 1346px;
    height: 600px;
}

.EnAdopcionSection > h1{

    position: relative;
    left: 470px;
    margin-bottom: 25px;

}

.EnAdopcionSection > article{

    width: 280px;
}


.EnAdopcionSection_Sakamoto{

    position: relative;
    left: 100px;
    margin-bottom: 25px;

}

.EnAdopcionSection_Artemisa{

    position: relative;
    left: 395px;
    margin-bottom: 25px;
    bottom: 393px;
    padding-bottom: 0;
}

.EnAdopcionSection_Diana{

    position: relative;
    left: 705px;
    margin-bottom: 25px;
    bottom: 820px;
    padding-bottom: 0;
}

.EnAdopcionSection_Luna{

    position: relative;
    left: 1010px;
    margin-bottom: 25px;
    bottom: 1231px;
    padding-bottom: 0;
}

.EnAdopcionSection > article > a{

    position: relative;
    left: 45px;
    top: 30px;
    text-decoration: none;
    color: #111;
    background-color: rgb(204, 92, 126);
    padding: 15px;
}

/*Animaciones, transformaciones, etc */

section article a:hover {
    
    border-radius: 50px;
    background-color: rgb(221, 19, 80);;
}

h1#tituloAdopted{
	
	position: relative;
	animation: mymove 5s infinite;
}
  
@keyframes mymove {
	0%   {font-size: 15px;
    color: rgb(236, 8, 133);}
	25%  {font-size: 20PX;
        color: rgb(1, 10, 8);
    }
	75%  {font-size: 20px;
        color: rgb(1, 10, 8);
    }
	100%  {font-size: 15px;
        color: rgb(236, 8, 133);
    }
}

/* ////// FORMULARIO ADOPCIÓN only ///////////////// */
.mainFormulario__sectionForm{
    position: relative;    
    left: 450px;
    width: 500px;
    padding-top: 50px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    
}

.mainFormulario__sectionForm > h1{

    position: relative;
    left: 90px;
    margin-bottom: 25px;
}

.mainFormulario__sectionForm > article{

    text-align: center;
}

.mainFormulario__sectionForm > article > input{

    padding-right: 200px;
}

#botonForm{

    position: relative;
    left: 200px;
    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 20px;
    border-radius: 10px;
}

/*Animaciones, transformaciones, etc */

#botonForm:hover{
    
    transform: scaleY(0.9);
}

#sectionForm{
	
	position: relative;
	animation: mymoveForm 2s;
}
  
@keyframes mymoveForm {
	0%   {right: 0;}
	25%  {right: -200px;}
	75%  {right: 200px;}
	100%  {right: -0;}
}

input:hover{

    padding: 15px;
}


/* ///////////////// REGISTRO only ///////////////// */

.mainRegister__sectionFormRegister{
    position: relative;    
    left: 450px;
    width: 500px;
    padding-top: 50px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    padding-bottom: 15px;
    border: 1px solid black;

}

.mainRegister__sectionFormRegister > h1{

    position: relative;
    left: 138px;
    margin-bottom: 10px;
}

.mainRegister__sectionFormRegister > label{

    position: relative;
    left: 20px;
    
}

.mainRegister__sectionFormRegister > input{

    position: relative;
    left: 20px;
    padding-right: 100px;
    border-radius: 9px;
}

#contactRegister{

    position: relative;
    left: 15px;

}

.mainRegister__sectionFormRegister > legend{

    position: relative;
    left: 20px;
    top: 15px;

}
.mainRegister__sectionFormRegister > select{

    position: relative;
    bottom: 3px;
    left: 60px;
}

.mainRegister__sectionFormRegister > a{

    position: relative;
    top:35px;
    left: 40px;
    text-decoration: none;
    color: #111;
}

#botonRegister{

    position: relative;
    top: 25px;
    left: 200px;
    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 40px;
}

.footerRegister{

    border: 2px solid black;

}



.mainRegister__sectionFormRegister > label, input{

    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Animaciones, transformaciones, etc */

#botonRegister:hover {
    
    transform: scaleY(0.9);
}

#sectionFormRegister{
	
	position: relative;
	animation: mymoveRegister 2s;
}
  
@keyframes mymoveRegister {
	0%   {right: 0;}
	25%  {right: -200px;}
	75%  {right: 200px;}
	100%  {right: -0;}
}