*{
    margin: 0;
    padding: 0;
    
}

body{

    border: 1px solid black;
}

header{

    background-color: rgba(204, 92, 126, 0.541);
    padding-bottom: 2%;
    padding-top: 2%;
}

header img{

    position: relative;
    left: 6%;
    
}

.menu{

    display: Inline-block;
    position: relative;
    left: 50%;
}

.menu__ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    margin-bottom: 15%;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(241, 212, 219, 0.904);
    border-radius: 10px;
}

footer{

    background-color: rgba(204, 92, 126, 0.541);
    text-align: center;
    

}
footer p a{

    color: #111;
    
}
main{

    background-color: rgba(207, 180, 129, 0.233);
}

/*////////////// index //////////////*/

.mainIndex__SectionImg{

    position: relative;
    left: 13%;
    padding-top: 25px;
}

.h1Foro{
    
    font-size: 40px;
    margin-left: 3%;
}


.foroSection{

    position: relative;
    padding-left: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 25%;
    font-family: 'Open Sans', sans-serif;
}

.foroSection article{

    background-color: rgba(224, 183, 193, 0.993);
    padding-bottom: 5%;
    padding-top: 25px;
    margin-top: 15px;
    border-radius: 15px;
}

.foroSection article a{

    margin-left: 25px;
    text-decoration: none;
    color: #111;

}

#cajaAporte{

    position: relative;
    padding-right: 520px;
    padding-bottom: 50px;
    border: solid 1px black;
    border-radius: 15px;
}


#botonAporte{

    position: relative;
    margin-left: 41%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(204, 92, 126);
    border-radius: 10px;


}

/* ////// MICHIS EN ADOPCIÓN only ///////////////// */

.EnAdopcionSection{

    width: 500px;
    height: 50px;
}

#mainMichis{
    
    width: 1346px;
    height: 600px;
}

.EnAdopcionSection > h1{

    position: relative;
    left: 470px;
    margin-bottom: 25px;

}

.EnAdopcionSection > article{

    width: 280px;
}


.EnAdopcionSection_Sakamoto{

    position: relative;
    left: 100px;
    margin-bottom: 25px;

}

.EnAdopcionSection_Artemisa{

    position: relative;
    left: 395px;
    margin-bottom: 25px;
    bottom: 393px;
    padding-bottom: 0;
}

.EnAdopcionSection_Diana{

    position: relative;
    left: 705px;
    margin-bottom: 25px;
    bottom: 820px;
    padding-bottom: 0;
}

.EnAdopcionSection_Luna{

    position: relative;
    left: 1010px;
    margin-bottom: 25px;
    bottom: 1231px;
    padding-bottom: 0;
}

.EnAdopcionSection > article > a{

    position: relative;
    left: 45px;
    top: 30px;
    text-decoration: none;
    color: #111;
    background-color: rgb(204, 92, 126);
    padding: 15px;
    border-radius: 15px;
}

/* ////// FORMULARIO ADOPCIÓN only ///////////////// */
.mainFormulario__sectionForm{
    position: relative;    
    left: 450px;
    width: 500px;
    padding-top: 50px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    
}

.mainFormulario__sectionForm > h1{

    position: relative;
    left: 90px;
    margin-bottom: 25px;
}

.mainFormulario__sectionForm > article{

    text-align: center;
}

.mainFormulario__sectionForm > article > input{

    padding-right: 200px;
}

#botonForm{

    position: relative;
    left: 200px;
    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 20px;
    border-radius: 10px;
}

/* ///////////////// REGISTRO only ///////////////// */

.mainRegister__sectionFormRegister{
    position: relative;    
    left: 450px;
    width: 500px;
    padding-top: 50px;
    background-color: rgb(131, 241, 217);
    border-radius: 15px;
    padding-bottom: 15px;
    border: 1px solid black;

}

.mainRegister__sectionFormRegister > h1{

    position: relative;
    left: 138px;
    margin-bottom: 10px;
}

.mainRegister__sectionFormRegister > label{

    position: relative;
    left: 20px;
    
}

.mainRegister__sectionFormRegister > input{

    position: relative;
    left: 20px;
    padding-right: 100px;
    border-radius: 9px;
}

#contactRegister{

    position: relative;
    left: 15px;

}

.mainRegister__sectionFormRegister > legend{

    position: relative;
    left: 20px;
    top: 15px;

}
.mainRegister__sectionFormRegister > select{

    position: relative;
    bottom: 3px;
    left: 60px;
}

.mainRegister__sectionFormRegister > a{

    position: relative;
    top:35px;
    left: 40px;
    text-decoration: none;
    color: #111;
}

#botonRegister{

    position: relative;
    top: 25px;
    left: 200px;
    padding: 10px 25px;
    background-color: rgb(204, 92, 126);
    margin-bottom: 40px;
}

.footerRegister{

    border: 2px solid black;

}


/* ///////////////// CONTACTO only ///////////////// */

.h1Contacto{

    position: relative;
    left: 13%;
    padding-top: 3%;
    width: 500px;
}

.h2Contacto{

    position: relative;
    left: 20%;
}

.formSectionContact{

    position: relative;
    left: 180px;
    width: 415px;
    padding: 15px;
    top: 50px; 
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(131, 241, 217);
    padding-right: 20px;
}

.formSectionContact__form > label, input{

    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formSectionContact__form > input{

    padding-left: 50px;
}

#textArea{

    margin-top: 10px;
    margin-left: 43px;
}

.formSectionContact__form > label{

    margin-left: 15px;
}
#email{

    position: relative;
    left: 13px;
}

.formSectionContact__form > input{

    padding-left: 50px;
}

#telefono{

    position: relative;
    right: 5px;
}

.formSectionContact__boton{

    position: relative;
    left: 35%;
    background-color: rgb(204, 92, 126);
    border-radius: 10px;
}

.ubicacionSeccion{

    position: relative;
    left: 50%;
    bottom: 525px;
    height: 200px;
    width: 600px;
}

.ubicacionSeccion__h2{
    
    margin-bottom: 55px;
    margin-left: 105px;
}

.sectionFooter{

    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
}

.sectionFooter__IMG{

    position: relative;
    right: 30%;
    margin-top: 15px;
}

.sectionFooter_ONG{

    position: relative;
    right: 30%;
    margin-top: 15px;

}

.sectionFooter_redes > p {
    position: relative;
    bottom: 60px;
    height: 0px;
}

.sectionFooter_redes > img {
    position: relative;
    bottom: 100px;
    left: 350px;
    margin-left: 25px;
}