@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/Fondo.jpg); }

#footerGenerico {
  background-color: rgba(204, 92, 126, 0.541); }
  #footerGenerico div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: black; }
    #footerGenerico div img {
      position: relative;
      top: 6px; }
    #footerGenerico div a {
      text-decoration: none;
      color: black; }

header {
  background-color: rgba(218, 136, 160, 0.712);
  display: flex;
  font-family: 'Libre Baskerville', serif;
  justify-content: space-around;
  padding: 2%; }
  header img {
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801); }
  header nav {
    background-color: #cc5c7e;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801); }
    header nav ul {
      display: flex; }
      header nav ul li {
        margin-right: 12px; }
        header nav ul li a {
          display: block;
          margin-left: 25px; }
          header nav ul li a:hover {
            background-color: #dd8aa3;
            border-radius: 15px;
            transform: scale(1.1, 1.1); }

/************************* INDEX *********************************/
main#mainIndex section {
  position: relative;
  animation: moveCats 3s infinite; }

@keyframes moveCats {
  0% {
    right: 0; }
  50% {
    right: -260px; }
  75% {
    right: 125; }
  100% {
    right: 0px; } }
  main#mainIndex section img {
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }

main#mainIndex div {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 3% 25%; }
  main#mainIndex div h1 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 50px; }
  main#mainIndex div article {
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: rgba(224, 183, 193, 0.993);
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
    transition: 0.1s; }
    main#mainIndex div article:hover {
      background-color: #cc5c7e;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
      transition: all 500ms ease-out;
      transform: scale(1.1, 1.1); }
    main#mainIndex div article a {
      text-decoration: none;
      color: #000000;
      font-size: 23px; }
  main#mainIndex div div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    main#mainIndex div div #cajaAporte {
      width: 100%;
      height: 50px;
      border-radius: 15px;
      border: none;
      text-align: center;
      transition: all 500ms ease-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
    main#mainIndex div div #botonAporte {
      padding: 15px;
      background-color: rgba(224, 183, 193, 0.993);
      border-radius: 10px;
      margin-top: 15px;
      border: none;
      transition: 0.1s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
      main#mainIndex div div #botonAporte:hover {
        background-color: #cc5c7e; }

/* /////////////////// MICHIS EN ADOPCIÓN ///////////////// */
#mainCatsAdopcion {
  display: flex;
  justify-content: center; }
  #mainCatsAdopcion section {
    display: flex;
    justify-content: center;
    width: 800px;
    margin-bottom: 30px;
    border-bottom: solid 3px rgba(71, 66, 66, 0.637);
    font-size: 18px; }
    #mainCatsAdopcion section h1 {
      margin-top: 25px;
      font-family: "Libre Baskerville", serif;
      text-align: center; }
    #mainCatsAdopcion section #parrafoInicial {
      margin-bottom: 45px;
      margin-top: 25px;
      font-family: "Roboto", sans-serif;
      border-bottom: solid 3px rgba(71, 66, 66, 0.637); }
    #mainCatsAdopcion section div {
      display: flex;
      justify-content: center;
      width: 300px;
      margin-bottom: 20px;
      height: 250px;
      align-items: center; }
      #mainCatsAdopcion section div figure {
        width: 300px;
        height: 250px;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
        cursor: pointer; }
      #mainCatsAdopcion section div img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out; }
      #mainCatsAdopcion section div div {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(15, 18, 19, 0.781);
        display: flex;
        flex-direction: column;
        top: 0;
        transition: all 500ms ease-out;
        opacity: 0;
        text-align: center; }
        #mainCatsAdopcion section div div:hover {
          opacity: 1;
          visibility: visible; }
        #mainCatsAdopcion section div div h3 {
          font-family: "Libre Baskerville", serif;
          color: #FFF; }
        #mainCatsAdopcion section div div p {
          font-family: "Roboto", sans-serif;
          color: #FFF;
          line-height: 1.5;
          margin: auto; }
    #mainCatsAdopcion section a {
      padding: 15px;
      background-color: rgba(224, 183, 193, 0.993);
      border-radius: 10px;
      margin-top: 15px;
      border: none;
      transition: 0.1s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
      width: 220px;
      margin-bottom: 25px;
      font-family: "Roboto", sans-serif;
      color: #000000;
      font-size: 18px;
      text-decoration: none;
      text-align: center; }
      #mainCatsAdopcion section a:hover {
        background-color: #cc5c7e; }

/* ////// FORMULARIO ADOPCIÓN ///////////////// */
main#mainFormulario section {
  display: flex;
  justify-content: center;
  position: relative;
  animation: moveElementRight 2s; }

@keyframes moveElementRight {
  0% {
    right: 0; }
  25% {
    right: -150px; }
  75% {
    right: 150px; }
  100% {
    right: -0; } }
  main#mainFormulario section form {
    width: 500px;
    margin-bottom: 35px;
    margin-top: 35px;
    font-family: "Roboto", sans-serif;
    height: 850px;
    border-radius: 15px;
    background-color: rgba(89, 224, 213, 0.445);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
    main#mainFormulario section form h1 {
      margin-bottom: 25px;
      margin-top: 15px;
      font-family: "Libre Baskerville", serif;
      position: relative;
      font-size: 30px;
      left: 45px; }
    main#mainFormulario section form article {
      margin-bottom: 10px;
      margin-top: 15px;
      text-align: center; }
      main#mainFormulario section form article input {
        padding-bottom: 15px;
        padding-right: 170px;
        border-radius: 15px; }
    main#mainFormulario section form input#botonSend {
      position: relative;
      left: 130px;
      padding: 15px;
      background-color: rgba(224, 183, 193, 0.993);
      border-radius: 10px;
      margin-top: 15px;
      border: none;
      transition: 0.1s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
      main#mainFormulario section form input#botonSend:hover {
        background-color: #cc5c7e; }

main#mainFormulario aside {
  width: 600px;
  margin-top: 65px;
  font-family: "Libre Baskerville", serif;
  height: 400px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(224, 183, 193, 0.747);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
  animation: moveElementTop 2s; }

@keyframes moveElementTop {
  0% {
    top: 0; }
  25% {
    top: 200px; }
  75% {
    top: -200px; }
  100% {
    top: -0; } }
  main#mainFormulario aside img {
    margin-bottom: 15px;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
  main#mainFormulario aside p {
    font-family: "Roboto", sans-serif;
    font-size: 16px; }

/* ///////////////// REGISTRO ///////////////// */
main#mainRegister section {
  display: flex;
  justify-content: center;
  position: relative;
  animation: moveElementRight 2s; }

@keyframes moveElementRight {
  0% {
    right: 0; }
  25% {
    right: -150px; }
  75% {
    right: 150px; }
  100% {
    right: -0; } }
  main#mainRegister section form {
    width: 500px;
    margin-bottom: 35px;
    margin-top: 35px;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    background-color: rgba(89, 224, 213, 0.445);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
    main#mainRegister section form h1 {
      margin-bottom: 10px;
      margin-top: 15px;
      font-family: "Libre Baskerville", serif;
      position: relative; }
    main#mainRegister section form label {
      position: relative; }
    main#mainRegister section form label, main#mainRegister section form input {
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
    main#mainRegister section form input {
      position: relative;
      padding-right: 100px;
      border-radius: 9px; }
    main#mainRegister section form legend {
      position: relative;
      left: 20px;
      top: 15px; }
    main#mainRegister section form select {
      position: relative;
      bottom: 3px;
      left: 60px; }
    main#mainRegister section form a {
      text-decoration: none;
      color: #000000; }
    main#mainRegister section form #botonRegister {
      padding: 15px;
      background-color: rgba(224, 183, 193, 0.993);
      border-radius: 10px;
      margin-top: 15px;
      border: none;
      transition: 0.1s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
      width: 200px; }
      main#mainRegister section form #botonRegister:hover {
        background-color: #cc5c7e; }

/************************* CONTACTO *********************************/
main#mainContact div {
  margin-top: 50px;
  background-color: #807b7f9f;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
  main#mainContact div h1 {
    text-align: center;
    color: #000000;
    font-size: 220%; }

main#mainContact section {
  display: flex;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  position: relative;
  flex-direction: row;
  animation: moveFormContact 2s; }

@keyframes moveFormContact {
  0% {
    top: 0; }
  25% {
    top: -200px; }
  75% {
    top: 200px; }
  100% {
    top: 0; } }
  main#mainContact section form {
    margin-bottom: 55px;
    margin-top: 55px;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    background-color: rgba(89, 224, 213, 0.445);
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
    main#mainContact section form h6 {
      width: 500px; }
    main#mainContact section form input {
      margin-bottom: 20px;
      margin-top: 5px;
      border-radius: 10px;
      padding: 10px; }
    main#mainContact section form textarea {
      border-radius: 10px;
      text-decoration: none; }
    main#mainContact section form p {
      position: relative;
      left: 12px; }
    main#mainContact section form #contactBottom {
      padding: 15px;
      background-color: rgba(224, 183, 193, 0.993);
      border-radius: 10px;
      margin-top: 15px;
      border: none;
      transition: 0.1s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
      main#mainContact section form #contactBottom:hover {
        background-color: #cc5c7e; }

main#mainContact aside {
  width: 600px;
  margin-top: 65px;
  font-family: "Libre Baskerville", serif;
  height: 600px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(224, 183, 193, 0.747);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87);
  animation: moveElementTop 2s; }

@keyframes moveElementTop {
  0% {
    top: 0; }
  25% {
    top: 200px; }
  75% {
    top: -200px; }
  100% {
    top: -0; } }
  main#mainContact aside iframe {
    margin-top: 50px; }

div#footerContact {
  padding: 30px;
  background-color: rgba(204, 92, 126, 0.541);
  font-family: "Roboto", sans-serif; }
  div#footerContact section {
    display: flex;
    justify-content: center;
    align-items: center; }
  div#footerContact aside {
    display: flex;
    justify-content: center;
    align-items: center; }

@media (min-width: 993px) {
  main#mainIndex > div > div {
    width: 550px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  main#mainIndex > div > div > #cajaAporte {
    width: 530px;
    height: 60px; }
  main#mainIndex > div > div > #botonAporte {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px; } }

@media (min-width: 680px) and (max-width: 992px) {
  main#mainIndex > section {
    width: 200px; }
  main#mainIndex > section > img {
    width: 125;
    height: 100px; }
  main#mainIndex > div > h1 {
    font-size: 37px; }
  main#mainIndex > div > article > a {
    font-size: 18px; }
  main#mainIndex > div > div {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  main#mainIndex > div > div > #cajaAporte {
    width: 375px;
    height: 60px; }
  main#mainIndex > div > div > #botonAporte {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px; } }

@media (max-width: 680px) {
  main#mainIndex > section > img {
    width: 100px;
    height: 100px; }
  main#mainIndex > div > h1 {
    font-size: 35px; }
  main#mainIndex > div > article > a {
    font-size: 15px; }
  main#mainIndex > div > div {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  main#mainIndex > div > div > #cajaAporte {
    width: 275px;
    height: 60px; }
  main#mainIndex > div > div > #botonAporte {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 10px; }
  #footerGenerico {
    font-size: 11px; } }

@media (min-width: 993px) {
  main#mainCatsAdopcion > section > #divQuieroAdoptar {
    height: 100px; } }

@media (max-width: 992px) {
  main#mainCatsAdopcion > section > h1 {
    font-size: 35px; }
  main#mainCatsAdopcion > section > #parrafoInicial {
    font-size: 20px; }
  main#mainCatsAdopcion > section > div {
    width: 300px;
    height: 250px;
    margin-bottom: 15px; }
  main#mainCatsAdopcion > section > #divQuieroAdoptar {
    font-size: 15px;
    height: 100px; } }

@media (max-width: 680px) {
  main#mainCatsAdopcion > section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main#mainCatsAdopcion > section > h1 {
    font-size: 25px; }
  main#mainCatsAdopcion > section > #parrafoInicial {
    font-size: 15px; }
  main#mainCatsAdopcion > section > div {
    margin-bottom: 0px;
    margin-top: 0px; }
  main#mainCatsAdopcion > section > div > figure {
    width: 100%;
    height: 100%;
    margin-bottom: auto; }
  main#mainCatsAdopcion > section > div {
    width: 200px;
    height: 150px;
    font-size: 12px;
    margin-bottom: 15px; }
  main#mainCatsAdopcion > section > div > a {
    font-size: 15px; } }

@media (min-width: 400px) and (max-width: 768px) {
  main#mainFormulario > section {
    font-size: 13px;
    height: 800px;
    background-color: rgba(89, 224, 213, 0.445); }
  main#mainFormulario > section > form {
    font-size: 13px;
    height: 750px;
    background-color: transparent;
    box-shadow: none; }
  main#mainFormulario > section > form > h1 {
    font-size: 20px;
    text-align: center;
    left: 0px; }
  main#mainFormulario > aside {
    margin-top: 0px;
    width: 1000px;
    background-color: rgba(224, 183, 193, 0.747);
    box-shadow: none; }
  main#mainFormulario > aside > p {
    font-size: 13px;
    margin: 25px; }
  main#mainFormulario > aside > img {
    width: 150px;
    height: 150px; }
  #footerGenerico {
    font-size: 0px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  main#mainFormulario > section {
    height: 900px;
    width: 1200px; }
  main#mainFormulario > aside {
    margin-top: 15px;
    width: 700px;
    background-color: rgba(224, 183, 193, 0.747);
    position: relative;
    left: 80px;
    margin-bottom: 35px; } }

@media (min-width: 400px) and (max-width: 768px) {
  main#mainRegister > section {
    background-color: rgba(89, 224, 213, 0.445); }
  main#mainRegister > section > form {
    background-color: transparent;
    font-size: 13px;
    box-shadow: none; }
  main#mainRegister > section > form > h1 {
    font-size: 20px;
    text-align: center;
    left: 0px; }
  main#mainRegister > section > form > label, input {
    padding: 0px; }
  main#mainRegister > section > form > #botonRegister {
    width: 100px; } }

@media (max-width: 575px) {
  main#mainRegister > section > form > div {
    position: relative;
    left: 7px;
    width: 150px; } }

@media (min-width: 1200px) {
  main#mainContact > aside > iframe {
    width: 500px;
    height: 500px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  main#mainContact {
    display: flex;
    justify-content: space-around; }
  main#mainContact > aside {
    width: 400px;
    height: 400px; }
  main#mainContact > aside > iframe {
    width: 300px;
    height: 300px; }
  main#mainContact > section {
    width: 300px;
    height: 730px; }
  main#mainContact > section > form {
    width: 400px; }
  main#mainContact > section > form > h6 {
    width: auto;
    margin-bottom: 15px; } }

@media (min-width: 600px) and (max-width: 991px) {
  main#mainContact > div > #h1Ubicacion {
    padding-left: 1000px; }
  main#mainContact > div {
    height: 100px; }
  main#mainContact > section > form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
  main#mainContact > aside {
    margin-top: 0px;
    height: 300px;
    background-color: transparent;
    box-shadow: none; }
  main#mainContact > aside > iframe {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); } }

@media (max-width: 600px) {
  main#mainContact > div > #h1Ubicacion {
    padding-left: 650px; }
  main#mainContact > div {
    height: 100px; }
  main#mainContact > section > form {
    font-size: 15px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); }
  main#mainContact > section > form > input, label {
    padding: 0px; }
  main#mainContact > section > form > h6 {
    margin-bottom: 25px;
    width: auto; }
  main#mainContact > aside {
    margin-top: 0px;
    height: 300px;
    background-color: transparent;
    box-shadow: none; }
  main#mainContact > aside > iframe {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.87); } }
