*{

	margin: 0;
	padding: 0;
}


/************************* INDEX *********************************/

#IndexGrilla{
    
	display: grid;
	grid-template-areas:
	"header" 
	"catsImg" 
	"foro"
	"footer" ;


}

header{

	grid-area: header;
	background-color: rgba(204, 92, 126, 0.541);
	display: flex;
	flex-direction: row;	
	justify-content: space-around;
	align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
}
section#catsImg{

	grid-area: catsImg;
	display: flex;
    justify-content: center;
	margin-top: 25px;

}

div#foro{

	grid-area: foro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Open Sans', sans-serif;
	padding: 3% 25%;
}

footer{

	grid-area: footer;
	background-color: rgba(204, 92, 126, 0.541);
}


header > nav > ul{
    list-style-type: none;
    overflow: hidden;
}

header > nav > ul{
	display: flex;
}

header > nav > ul > li > a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(241, 212, 219, 0.904);
    border-radius: 10px;
}

div#foro > h1{

	text-align: center;
}

div#foro > article{

	background-color: rgba(224, 183, 193, 0.993);
	display: flex;
	align-content: center;
    padding: 30px;
    margin-bottom: 15px;
}

div#foro > article > a{

    text-decoration: none;
    color: #111;
}

div#foro > div{

	justify-content: center;

}
div#foro > div > #cajaAporte{
	
    padding: 30px;
    border: solid 1px black;
	text-align: center;
}

div#foro > div > #botonAporte{

    padding: 10px;
    background-color: rgb(204, 92, 126);
    border-radius: 10px;
	margin-top: 15px;
}

footer > div{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}



/*Animaciones, transformaciones, etc */


#botonAporte:hover{

	transform: scaleY(0.9);
}

section#catsImg{
	
	position: relative;
	animation: mymove 5s infinite;
}
  
@keyframes mymove {
	0%   {right: 0;}
	25%  {right: -150px;}
	75%  {right: 150px;}
	100%  {right: -0;}
}


/************************* CONTACTO *********************************/

#contactGrilla{

	display: grid;
	grid-template-areas:
	"header header"
	"contactForm mapsUbi" 
	"footer aside" ;

    grid-template-rows: 1fr;
	grid-template-columns: auto 700px ;

}

section#contactForm{

	grid-area: contactForm;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}
aside#mapsUbi{

	grid-area: mapsUbi;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 94px;

}

footer#footerContact{

	grid-area: footer;
	display: flex;	
	padding: 30px;
	flex-direction: column;
	align-items: center;
}

aside#redesFooter{

	grid-area: aside;
	display: flex;
	background-color: rgba(204, 92, 126, 0.541);	
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
}

section#contactForm > form{

	display: flex;
	flex-direction: column;
	background-color: rgb(131, 241, 217);
	padding: 50px;
	border-radius: 10px;
	border: 2px solid black;
	margin-bottom: 55px;
	margin-top: 55px;
}

section#contactForm > form > h2{

	text-align: center;
	margin-bottom: 20px;
}

section#contactForm > form > input{

	padding: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
}

section#contactForm > form > #contactBottom{

	position: relative;
	left: 20%;
	width: 200px;
	background-color: rgb(204, 92, 126);
	border-radius: 10px;
	
}

footer#footerContact > p{

	margin-top: 15px;
}



@media screen and (max-width: 480px) {
	

	#contactGrilla{
		grid-template-areas:
		"header header"
		"contactForm contactForm"
		"mapsUbi mapsUbi" 
		"footer aside" ;
	}

	aside#mapsUbi{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: baseline;
		margin-bottom: 25px;
		margin-top: 10px;
	}
	#mapsUbi > iframe{

		width: 150px;
		height: 150px;
	}

	aside#redesFooter{

		display: flex;	
		flex-direction: row;
		justify-content: center;
	}

	footer#footerContact{

		display: flex;	
		flex-direction: column;
		align-items: center;
	}

	footer#footerContact > img{

		width: 50px;
		height: 40px;

	}

}

/*Animaciones, transformaciones, etc */

#contactBottom:hover{
    
    transform: scaleY(0.9);
}

#contactForm{
	
	position: relative;
	animation: mymoveFormContact 2s;
}
  
@keyframes mymoveFormContact {
	0%   {top: 0;}
	25%  {top: -200px;}
	75%  {top: 200px;}
	100%  {top: -0;}
}

#mapsUbi{
	
	position: relative;
	animation: mymoveFormUbi 2s;
}
  
@keyframes mymoveFormUbi {
	0%   {top: -0;}
	25%  {top: 200px;}
	75%  {top: -200px;}
	100%  {top: 0;}
}