div{	
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        color: black;
        img{
            position: relative;
            top: 6px;
        }
        a{
            text-decoration: none;
            color: black;
        }
}