@mixin properties($backgroundColor, $display, $border, $boxShadow){
    background-color: $backgroundColor;
    display: $display;
    border-radius: $border;
    box-shadow: $boxShadow;
}

header{

    @include properties(rgba(218, 136, 160, 0.712), flex, null, null);
    font-family: 'Libre Baskerville', serif;
	justify-content: space-around;
    padding: 2%;
    
    img{
        @include properties(null, null, 40px, 0 4px 10px rgba(0, 0, 0, 0.801));
    }

    nav{
        @include properties(rgb(204, 92, 126), null, 15px, 0 4px 10px rgba(0, 0, 0, 0.801));

        ul{
            @include properties(null, flex, null, null);       
            li{            
                margin-right: 12px;
                a{
                    @include properties(null, block, null, null);
                    margin-left: 25px;
                    &:hover{
                        @include properties(rgb(221, 138, 163), null, 15px, null);
                        transform: scale(1.1,1.1);
                    }
                }
            }
        }
    }
}