header#headerIndex{
	background-color: rgba(204, 92, 126, 0.541);
	display: flex;
	justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
    nav{
        ul{
            display: flex;
            list-style-type: none;
            overflow: hidden;
            li{
                a{
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    &:hover{
                        background-color: rgba(241, 212, 219, 0.904);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}