@mixin boton{        
    padding: 15px;
    background-color: rgba(224, 183, 193, 0.993);;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    transition: 0.1s;
    box-shadow: $boxShadow;;
}

@mixin buttonHover{
    &:hover{
        background-color: $backgroundColor;
    }
}

@mixin animationRight{
    @keyframes moveCats {
        0%   {right: 0;}
        25%  {right: -150px;}
        75%  {right: 150px;}
        100%  {right: -0;}
    }
}

@mixin flex-justify-center{

        display:flex;
        justify-content:center;
}

$boderButton: solid 3px rgba(71, 66, 66, 0.637);
$transition: all 500ms ease-out;
$white: #FFF;
$black: #000000;

@mixin properties($width,$marginBottom,$marginTop,$fontFamily, $height, $boderButton, $position){
    width: $width;
    margin-bottom: $marginBottom;
    margin-top: $marginTop;
    font-family: $fontFamily;
    height: $height;
    border-bottom: $boderButton;
    position: $position;
}

/* ////// FORMULARIO ADOPCIÓN ///////////////// */

@mixin propertiesForm($borderRadius, $fontSize, $colorFondo){
    width: $width;

}

main#mainFormulario{
    section{

        @include flex-justify-center;
        position: relative;
        animation: moveForm 2s;

        @include animationRight;
    
        form{

            width: 500px;
            border-radius: 15px;
            margin-top: 35px;
            margin-bottom: 35px;
            font-family: $textFont;  
            background-color: $backgroundFormColor;
            height: 850px;
            h1{
                font-family: $titleFont;
                margin-top: 15px;
                font-size: 30px;
                position: relative;
                left: 45px;
                margin-bottom: 25px;
            }

            article{
                margin-top: 15px;
                margin-bottom: 10px;
                text-align: center;
                input{
                    padding-bottom: 15px;
                    padding-right: 170px;
                    border-radius: 15px;
                }
            }

            input#botonSend{

                position: relative;
                left: 120px;
                @include buttonHover;
                @include boton;
            }
        }
    }

    aside{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 94px;
        position: relative;
        background-color: rgba(224, 183, 193, 0.747);
        height: 400px;
        border-radius: 25px;
        width: 600px;
        animation: moveMapsUbi 2s;
        @keyframes moveMapsUbi {
            0%   {top: -0;}
            25%  {top: 200px;}
            75%  {top: -200px;}
            100%  {top: 0;}
        }

        img{
            margin-bottom: 15px;
            margin-top: 30px;
            box-shadow: $boxShadow;;
        }

        p{
            font-family: $textFont;
            font-size: 16px;
        }

    }
}