*{

	margin: 0;
	padding: 0;
}
/************************* INDEX *********************************/

@import "header";
@import "footer";

main{
    section#catsImg{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        position: relative;
        animation: moveCats 5s infinite;
    }

    @keyframes moveCats {
        0%   {right: 0;}
        25%  {right: -150px;}
        75%  {right: 150px;}
        100%  {right: -0;}
    }

    div#foro{
        display: flex;
        justify-content: center;
        font-family: 'Libre Baskerville', serif;
        padding: 3% 25%;
        h1{
            text-align: center;
	        font-size: 50px;
        }
        article{
            background-color: rgba(224, 183, 193, 0.993);
            padding: 25px;
            margin-bottom: 15px;
            text-align: center;
            a{
                text-decoration: none;
                color: #111;
                font-size: 23px;
            }
        }
        div{
            justify-content: center;
            #cajaAporte{
	
                padding: 28px;
                border: inherit 15px black;
                text-align: center;
            }
            #botonAporte{

                padding: 10px;
                background-color: rgb(204, 92, 126);
                border-radius: 10px;
                margin-top: 15px;

                &:hover{
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}

