*{

	margin: 0;
	padding: 0;
}

@import "header";

#footerGenerico{
    background-color: rgba(204, 92, 126, 0.541);
    @import "footer";
}

/************************* INDEX *********************************/

$section: ( 
    pantalla: flex,
    contenido: center,
    margenTop: 25px,
    posicion: relative
); 

.articulo {
    background-color: rgba(224, 183, 193, 0.993);
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
@mixin boton-aporte{        
    padding: 10px;
    background-color: rgb(204, 92, 126);
    border-radius: 10px;
    margin-top: 15px;
}

main{
    section#catsImg{
        display: map-get($section,pantalla);
        justify-content: map-get($section,contenido);
        margin-top: map-get($section,margenTop);
        position: map-get($section,posicion);
        animation: moveCats 5s infinite;
    }

    @keyframes moveCats {
        0%   {right: 0;}
        25%  {right: -150px;}
        75%  {right: 150px;}
        100%  {right: -0;}
    }

    div#foro{
        display: flex;
        justify-content: center;
        font-family: 'Libre Baskerville', serif;
        padding: 3% 25%;
        h1{
            text-align: center;
	        font-size: 50px;
        }
        article{
            @extend .articulo;
            text-align: center;
            a{
                text-decoration: none;
                color: #111;
                font-size: 23px;
            }
        }
        div{
            justify-content: center;
            #cajaAporte{
	
                padding: 28px;
                border: inherit 15px black;
                text-align: center;
            }
            #botonAporte{
                @include boton-aporte;

                &:hover{
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}


/* /////////////////// MICHIS EN ADOPCIÓN ///////////////// */

#mainCatsAdopcion{
	display: flex;
	justify-content: center;

    #catsAdoptionSec{

        justify-content: center;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        font-size: 18px;
        width: 800px;

        #EnAdopcionH1{
            position: relative;
            top: 20px;
            
        }

        #parrafoInfoCats{
            margin-top: 25px;
            margin-bottom: 45px;
            border-bottom: solid 3px rgba(71, 66, 66, 0.637);
            
        }

        article{

            margin-bottom: 35px;

            #refFormAdoption{
                text-decoration: none;
                color: #111;
                background-color: rgb(214, 55, 103);
                border-radius: 15px;
                padding: 10px;
                margin-top: 25px;
            }

            a:hover {
    
                font-size: 20px;
            }

        }
    }
}

/* ////// FORMULARIO ADOPCIÓN ///////////////// */

#sectionForm{

    display: flex;
    justify-content: center;
    position: relative;
	animation: moveForm 2s;

    @keyframes moveForm {
        0%   {right: 0;}
        25%  {right: -200px;}
        75%  {right: 200px;}
        100%  {right: -0;}
    }

    .mainFormulario__sectionForm{

        width: 500px;
        background-color: rgb(131, 241, 217);
        border-radius: 15px;
        border: 1px solid black;
        margin-top: 35px;
        margin-bottom: 35px;
        font-family: 'Libre Baskerville', serif;
          
        #h1Adoption{

            margin-top: 15px;
            font-size: 35px;

        }

        h1{

            position: relative;
            left: 90px;
            margin-bottom: 25px;
        }

        article{

            text-align: center;
            input{

                padding-right: 150px;
            }
        }

        #botonForm{

            position: relative;
            left: 200px;
            padding: 10px 25px;
            background-color: rgb(204, 92, 126);
            margin-bottom: 20px;
            border-radius: 10px;
            &:hover{
    
                transform: scale(1.1, 1.1);
            }
        }
    }
}


/* ///////////////// REGISTRO ///////////////// */
#sectionFormRegister{

    position: relative;
    display: flex;
    justify-content: center;
	animation: moveRegister 2s;

    @keyframes moveRegister {
        0%   {right: 0;}
        25%  {right: -200px;}
        75%  {right: 200px;}
        100%  {right: -0;}
    }

    .mainRegister__sectionFormRegister{
        width: 500px;
        background-color: rgb(131, 241, 217);
        border-radius: 15px;
        border: 1px solid black;
        font-family: 'Libre Baskerville', serif;
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;

        h1{

            position: relative;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        label{

            position: relative;
            
        }

        label, input{

            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        input{

            position: relative;
            padding-right: 100px;
            border-radius: 9px;
        }

        legend{

            position: relative;
            left: 20px;
            top: 15px;
        

        }
        select{

            position: relative;
            bottom: 3px;
            left: 60px;
        }

        a{

            text-decoration: none;
            color: #111;
        }

        #botonRegister{

            padding: 10px 25px;
            background-color: rgb(204, 92, 126);
            margin-bottom: 40px;

            &:hover {
    
                transform: scaleY(0.9);
            }
        }
    }

}

/************************* CONTACTO *********************************/

section#contactForm{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    position: relative;
	animation: moveFormContact 2s;

    @keyframes moveFormContact {
        0%   {top: 0;}
        25%  {top: -200px;}
        75%  {top: 200px;}
        100%  {top: -0;}
    }
    
    form{

        display: flex;
        flex-direction: column;
        background-color: rgb(131, 241, 217);
        padding: 50px;
        border-radius: 10px;
        border: 2px solid black;
        margin-bottom: 55px;
        margin-top: 55px;

        h2{

            text-align: center;
            margin-bottom: 20px;
        }

        input{

            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        #contactBottom{

            position: relative;
            left: 20%;
            width: 200px;
            background-color: rgb(204, 92, 126);
            border-radius: 10px;

            &:hover{
        
                transform: scale(1.1, 1.1);
            }
        }
    }
}


aside#mapsUbi{

	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Libre Baskerville', serif;
	margin-top: 94px;
    position: relative;
	animation: moveMapsUbi 2s;

    @keyframes moveMapsUbi {
        0%   {top: -0;}
        25%  {top: 200px;}
        75%  {top: -200px;}
        100%  {top: 0;}
    }

}

  


#footerContact{		
	padding: 30px;
	background-color: rgba(204, 92, 126, 0.541);

    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:768px){
	main > #mapsUbi > h2 {

		font-size: 17px;
	}

	.iframe{
		width: 250px; 
		height: 250px; 
	}

	section#contactForm > form{

		width: 250px; 
		height: 550px;
		font-size: 14px;
	}

	section#contactForm > form > h2{
		font-size: 17px;		
	}

	section#contactForm > form > #contactBottom{
		padding: 2px;
		width: 100px;
		margin-top: 15px;
	}

}	

@media (max-width:992px) and (min-width: 768px) {
	main > #mapsUbi > h2 {

		font-size: 17px;
	}

	.iframe{
		width: 300px; 
		height: 300px; 
	}

	section#contactForm > form{

		width: 300px; 
		height: 550px;
		font-size: 14px;
	}

	section#contactForm > form > h2{
		font-size: 20px;		
	}

	section#contactForm > form > #contactBottom{
		width: 120px;
		margin-top: 15px;
	}

}	

@media (min-width: 1200px) {
	.iframe{
		width: 600px; 
		height: 450px; 
	}
}

