*{

	margin: 0;
	padding: 0;
}

body{
    background-image: url(../img/Fondo.jpg);
}

#footerGenerico{
    background-color: rgba(204, 92, 126, 0.541);
    @import "footer";
}

@import "header";

$titleFont: 'Libre Baskerville', serif;
$textFont: 'Roboto', sans-serif;
$backgroundColor: rgb(204, 92, 126);
$backgroundFormColor: rgba(89, 224, 213, 0.445);
$boxShadow: 0 4px 10px rgba(0, 0, 0, 0.87);
$boderButton: solid 3px rgba(71, 66, 66, 0.637);
$transition: all 500ms ease-out;
$white: #FFF;
$black: #000000;
$pinkColor: rgba(224, 183, 193, 0.993);

@mixin boton{        
    padding: 15px;
    background-color: $pinkColor;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    transition: 0.1s;
    box-shadow: $boxShadow;
}

@mixin buttonHover{
    &:hover{
        background-color: $backgroundColor;
    }
}

@mixin flex-justify-center{
    display:flex;
    justify-content:center;
}


@mixin properties($width,$marginBottom,$marginTop,$fontFamily, $height, $boderButton, $position, $color, $borderRadius, $fontSize, $colorFondo){
    width: $width;
    margin-bottom: $marginBottom;
    margin-top: $marginTop;
    font-family: $fontFamily;
    height: $height;
    border-bottom: $boderButton;
    position: $position;
    color: $color;
    border-radius: $borderRadius;
    font-size: $fontSize;
    background-color: $colorFondo; 
}

@mixin animationTop {
    @keyframes moveElementTop {
        0%   {top: 0;}
        25%  {top: 200px;}
        75%  {top: -200px;}
        100%  {top: -0;}
    }
}

@mixin animationRight{
    @keyframes moveElementRight{
        0%   {right: 0;}
        25%  {right: -150px;}
        75%  {right: 150px;}
        100%  {right: -0;}
    }
}

/************************* INDEX *********************************/

main#mainIndex{

    section{
        @include flex-justify-center;
        position: relative;
        animation: moveElementRight 5s infinite;

        @include animationRight;

        img{
            margin-top: 15px;
            box-shadow: $boxShadow;;
        }
    }  

    div{
        @include flex-justify-center;
        font-family: $textFont;
        padding: 3% 25%;

        h1{
            font-family: $titleFont;
            text-align: center;
	        font-size: 50px;
        }

        article{    
            @include properties(null, 15px, 15px, null, null, null, null, null, 15px, null, $pinkColor);
            padding: 25px;
            text-align: center;
            box-shadow: $boxShadow;
            transition: 0.1s;
            
            &:hover{
                background-color: $backgroundColor;
                box-shadow: $boxShadow;;
                transition: $transition;
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: $black;
                font-size: 23px;
            }
        }

        div{
            @include flex-justify-center;
            flex-direction: column;
            #cajaAporte{
                @include properties(100%, null, null, null, 50px, null, null, null, 15px, null, null);
                border: none;
                text-align: center;               
                transition: $transition;
                box-shadow: $boxShadow; 
            }

            #botonAporte{
                @include boton;
                @include buttonHover;            
                
            }
        }
    }
}

/* /////////////////// MICHIS EN ADOPCIÓN ///////////////// */

#mainCatsAdopcion{  
    @include flex-justify-center;

    section{ 
        @include flex-justify-center;
        @include properties(800px, 30px, null, null, null, $boderButton, null, null, null, 18px, null);
        
        h1{
            @include properties(null, null, 25px, $titleFont, null, null, null, null, null, null, null);
            text-align: center;
        }

        #parrafoInicial{   
            @include properties(null, 45px, 25px, $textFont, null, $boderButton, null, null, null, null, null);
        }

        div{
            @include flex-justify-center;
            @include properties(300px, 20px, null, null, 250px, null, null, null, null, null, null);       
            align-items: center;

            figure{
                @include properties(300px, null, null, null, 250px, null, relative, null, 15px, null, null); 
                overflow: hidden;
                box-shadow: $boxShadow;
                cursor: pointer;  
            }

            img{
                @include properties(100%, null, null, null, 100%, null, null, null, null, null, null);
                transition: $transition;         
            }

            div{
                @include properties(100%, null, null, null, 100%, null, absolute, null, null, null, rgba(15, 18, 19, 0.781));
                display: flex;
                flex-direction: column;
                top: 0;
                transition: $transition; 
                opacity: 0;
                text-align: center; 
                &:hover{
                    opacity: 1;
                    visibility: visible;
                }

                h3{
                    @include properties(null, null, null, $titleFont, null, null, null, $white, null, null, null);
                }

                p{
                    @include properties(null, null, null, $textFont, null, null, null, $white, null, null, null);
                    line-height: 1.5;
                    margin: auto;
                }
            }
        }

        a{
            @include boton;
            @include buttonHover;
            @include properties(220px, 25px, null, $textFont, null, null, null, $black, null, 18px, null);
            text-decoration: none;
            text-align: center;
        }
    }
}

/* ////// FORMULARIO ADOPCIÓN ///////////////// */

main#mainFormulario{

    section{
        @include flex-justify-center;
        position: relative;
        animation: moveElementRight 2s;

        @include animationRight;
    
        form{
            @include properties(500px, 35px, 35px, $textFont, 850px, null, null, null, 15px, null, $backgroundFormColor);
            box-shadow: $boxShadow;
            h1{
                @include properties(null, 25px, 15px, $titleFont, null, null, relative, null, null, 30px, null);
                left: 45px;
            }

            article{
                @include properties(null, 10px, 15px, null, null, null, null, null, null, null, null);
                text-align: center;
                
                input{
                    padding-bottom: 15px;
                    padding-right: 170px;
                    border-radius: 15px;
                }
            }

            input#botonSend{
                position: relative;
                left: 130px;
                @include buttonHover;
                @include boton;
            }
        }
    }

    aside{
        @include properties(600px, null, 65px, $titleFont, 400px, null, relative, null, 25px, null, rgba(224, 183, 193, 0.747));
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $boxShadow;
        animation: moveElementTop 2s;

        @include animationTop;

        img{
            @include properties(null, 15px, 30px, null, null, null, null, null, null, null, null);
            box-shadow: $boxShadow;;
        }

        p{
            @include properties(null, null, null, $textFont, null, null, null, null, null, 16px, null);
        }

    }
}

/* ///////////////// REGISTRO ///////////////// */

main#mainRegister{
    section{
        @include flex-justify-center;
        position: relative;
        animation: moveElementRight 2s;

        @include animationRight;

        form{
            @include properties(500px, 35px, 35px, $textFont, null, null, null, null, 15px, null, $backgroundFormColor);
            text-align: center;
            box-shadow: $boxShadow;
            h1{
                @include properties(null, 10px, 15px, $titleFont, null, null, relative, null, null, null, null);
            }

            label{
                position: relative;    
            }

            label, input{
                padding: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            input{
                position: relative;
                padding-right: 100px;
                border-radius: 9px;
            }

            legend{
                position: relative;
                left: 20px;
                top: 15px; 
            }

            select{
                position: relative;
                bottom: 3px;
                left: 60px;
            }

            a{
                text-decoration: none;
                color: $black;
            }

            #botonRegister{
                @include boton;
                @include buttonHover;
                width: 200px;
            }
        }

    }
}
/************************* CONTACTO *********************************/

main#mainContact{
    div{
        margin-top: 50px;
        background-color: #807b7f9f;
        padding: 25px;
        box-shadow: $boxShadow;;
        h1{
            
            text-align: center;
            color: $black;
            font-size: 220%;
        }
    }
    
    section{
        @include flex-justify-center;
        @include properties(null, null, null, $titleFont, null, null, relative, null, null, null, null);
        flex-direction: row;
        animation: moveFormContact 2s;

        @keyframes moveFormContact{
        0%   {top: 0;}
        25%  {top: -200px;}
        75%  {top: 200px;}
        100%  {top: 0;}
    }
        
        form{
            @include properties(null, 55px, 55px, $textFont, null, null, null, null, 15px, null, $backgroundFormColor );
            display: flex;
            flex-direction: column;
            padding: 25px;
            box-shadow: $boxShadow;

            h6{
                width: 500px;
            }
            input{
                @include properties(null, 20px, 5px, null, null, null, null, null, 10px, null, null);
                padding: 10px;
            }

            textarea{
                border-radius: 10px;
                text-decoration: none;
            }

            p{
                position: relative;
                left: 12px;
            }
            #contactBottom{
                @include boton;
                @include buttonHover;
            }
        }
    }

    aside{
        @include properties(600px, null, 65px, $titleFont, 600px, null, relative, null, 25px, null, rgba(224, 183, 193, 0.747));
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $boxShadow;
        animation: moveElementTop 2s;

        @include animationTop;

        iframe{
            margin-top: 50px;
        }
    }

}

div#footerContact{		
	padding: 30px;
	background-color: rgba(204, 92, 126, 0.541);
    font-family: $textFont;
    section{
        @include flex-justify-center;
        align-items: center;
        
    }

    aside{
        @include flex-justify-center;
        align-items: center;
    }
}


//  *********** RESPONSIVE INDEX **************** //

@media (min-width:993px){

    main#mainIndex > div > div{
        width: 550px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main#mainIndex > div > div > #cajaAporte{
        width: 530px;
        height: 60px;
    }

    main#mainIndex > div > div > #botonAporte{
        width: auto;
        height: auto;
        text-align: center;
        font-size: 15px;
    }
}

@media (min-width:680px) and (max-width:992px){

    main#mainIndex > section{
		width: 200px;
    }

	main#mainIndex > section > img{
		width: 125;
        height: 100px;
    }

    main#mainIndex > div > h1{
        font-size: 37px;
    }

    main#mainIndex > div > article > a{
        font-size: 18px;
    }

    main#mainIndex > div > div{
        width: 500px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main#mainIndex > div > div > #cajaAporte{
        width: 375px;
        height: 60px;
    }

    main#mainIndex > div > div > #botonAporte{
        width: auto;
        height: auto;
        text-align: center;
        font-size: 15px;
    }

}	

@media (max-width:680px){

	main#mainIndex > section > img{
		width: 100px;
        height: 100px;
    }

    main#mainIndex > div > h1{
        font-size: 35px;
    }

    main#mainIndex > div > article > a{
        font-size: 15px;
    }

    main#mainIndex > div > div{
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main#mainIndex > div > div > #cajaAporte{
        width: 275px;
        height: 60px;
    }

    main#mainIndex > div > div > #botonAporte{
        width: auto;
        height: auto;
        text-align: center;
        font-size: 10px;
    }


    #footerGenerico{
        font-size: 11px;
    }
}	

//  *********** RESPONSIVE MICHIS EN ADOPCIÓN **************** // -> CHECK

@media (min-width:993px){
    main#mainCatsAdopcion > section > #divQuieroAdoptar{
        height: 100px;
    }
}
@media (max-width:992px){

    main#mainCatsAdopcion > section > h1{
        font-size: 35px;
    }

    main#mainCatsAdopcion > section > #parrafoInicial{
        font-size: 20px;
    }

    main#mainCatsAdopcion > section > div{    
        width: 300px;
        height: 250px;
        margin-bottom: 15px;
    }

    main#mainCatsAdopcion > section > #divQuieroAdoptar{    
        font-size: 15px;
        height: 100px;
    }
}	

@media (max-width:680px){

    main#mainCatsAdopcion > section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main#mainCatsAdopcion > section > h1{
        font-size: 25px;
    }

    main#mainCatsAdopcion > section > #parrafoInicial{
        font-size: 15px;
    }

    main#mainCatsAdopcion > section > div {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    main#mainCatsAdopcion > section > div > figure {
        width: 100%;
        height: 100%;
        margin-bottom: auto;
    }

    main#mainCatsAdopcion > section > div{      
        width: 200px;
        height: 150px;
        font-size: 12px;
        margin-bottom: 15px;
    }

    main#mainCatsAdopcion > section > div > a{      
        font-size: 15px;
    }
}


//  *********** RESPONSIVE FORMULARIO DE ADOPCIÓN **************** //

@media (min-width:400px) and (max-width:768px){

    main#mainFormulario > section{
        font-size: 13px; 
        height: 800px;
        background-color: $backgroundFormColor;
    }

    main#mainFormulario > section > form{
        font-size: 13px; 
        height: 750px;
        background-color: transparent;
        box-shadow: none;
    }

    main#mainFormulario > section > form > h1{
        font-size: 20px;
        text-align: center;
        left: 0px;
    }
  
    main#mainFormulario > aside{
        margin-top: 0px;
        width: 1000px;
        background-color: rgba(224, 183, 193, 0.747);
        box-shadow: none;
    }

    main#mainFormulario > aside > p{
        font-size: 13px;
        margin: 25px;
    }
    main#mainFormulario > aside > img{
        width: 150px;
        height: 150px;
    }

    #footerGenerico{
        font-size: 0px;
    }
}

@media (min-width:768px) and (max-width:1200px){

    main#mainFormulario > section{
        height: 900px;
        width: 1200px;
    }

    main#mainFormulario > aside{
        margin-top: 15px;
        width: 700px;
        background-color: rgba(224, 183, 193, 0.747);
        position: relative;
        left: 80px;
        margin-bottom: 35px;
    }

}


//  *********** RESPONSIVE FORMULARIO DE REGISTRO **************** //

@media (min-width:400px) and (max-width:768px){

    main#mainRegister > section{
        background-color: $backgroundFormColor;
    }

    main#mainRegister > section > form{
        background-color: transparent;
        font-size: 13px; 
        box-shadow: none;
    }

    main#mainRegister > section > form > h1{
        font-size: 20px;
        text-align: center;
        left: 0px;
    }

    main#mainRegister > section > form > label, input{
        padding: 0px;
    }

    main#mainRegister > section > form > #botonRegister{
        width: 100px;
    }

}

@media (max-width:575px){

    main#mainRegister > section > form > div{
        position: relative;
        left: 7px;
        width: 150px;
    }

}

//  *********** RESPONSIVE CONTACTO **************** //

@media (min-width: 1200px){

    main#mainContact > aside > iframe{
        width: 500px;
        height: 500px;
    }
    
}

@media (min-width:992px) and (max-width: 1200px){

    main#mainContact{
        display: flex;
        justify-content: space-around;
    }

    main#mainContact > aside{
        width: 400px;
        height: 400px;
    }

    main#mainContact > aside > iframe{
        width: 300px;
        height: 300px;
    }

    main#mainContact > section{
        width: 300px;
        height: 730px;
    }

    main#mainContact > section > form{
        width: 400px;
    }

    main#mainContact > section > form > h6{
        width: auto;
        margin-bottom: 15px;
    }
   
}

@media (min-width:600px) and (max-width:991px){

    main#mainContact > div > #h1Ubicacion{ 
       padding-left: 1000px;  
    }

    main#mainContact > div{   
        height: 100px;
    }

    main#mainContact > section > form{
        box-shadow: $boxShadow;
    }

    main#mainContact > aside{
        margin-top: 0px;
        height: 300px;
        background-color: transparent;
        box-shadow: none;
    }

    main#mainContact > aside > iframe{
        box-shadow: $boxShadow;
    }

}

@media (max-width:600px){

    main#mainContact > div > #h1Ubicacion{
        padding-left: 650px;  
    }

    main#mainContact > div{
        height: 100px;
    }

    main#mainContact > section > form{
        font-size: 15px;
        width: 400px;
        box-shadow: $boxShadow;
    }

    main#mainContact > section > form > input, label{
        padding: 0px;
    }

    main#mainContact > section > form > h6{
        margin-bottom: 25px;
        width: auto;
    }

    main#mainContact > aside{
        margin-top: 0px;
        height: 300px;
        background-color: transparent;
        box-shadow: none;
    }

    main#mainContact > aside > iframe{
        box-shadow: $boxShadow;
    }
}
